/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.8);
    color: white;
    height: 70px ;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a , .resume-btn
{
    padding: 6px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black ; 
    background-color: white;
    border-radius: 5px;

}

.resume-btn:hover , .nav-links :hover , .contact-icons  :hover

{
    background-color: black;
    color: white;
 }

 

/* HERO */
.hero {
    padding: 100px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    font-size: 40px;
    text-shadow: 2px 2px gre;
}

.hero-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* SECTIONS */
section {
    padding: 60px 30px;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* SKILLS */

.skills-section{
    background-color: black;
    color: white;
}

.skills-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skill-pill {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 20px;
        transition: 0.3s;

}

.skill-pill:hover{
    
    transform: translateY(-5px) translateX(5px);
    box-shadow : 2px 4px 10px rgb(255, 255, 255);

}

.exp-card {
    width: 85%;
    border-left: 1px solid rgb(12, 12, 12) ;
    padding: 15px;
    margin-bottom: 30px;
    transition: 0.3s;

}

.exp-card:hover{
    
    box-shadow: 3px 4px 10px rgb(14, 14, 14);
    transform:  translateY(-10px) translateX(20px);
    border: 2px solid black;
    
}



.projects-section{
    background-color: black;
    color: white;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.proj-card {
    border: 1px solid #ddd;
    padding: 15px;
    transition: 0.3s;
}

.proj-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 1);
}

/* CONTACT */
.contact-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.contact-icons a {
    border: 1px solid #ccc;
    padding: 8px 14px;
    text-decoration: none;
    color: black;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: black;
    color: white;

}



/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .nav-links {
        display: none;
    }
}